<section class="product-item-section py-3">
  @if (isLoading()) {
    <mat-card appearance="outlined" class="mx-3 my-2">
      <ngx-skeleton-loader
        count="1"
        [theme]="{ height: '300px', 'border-radius': '8px 8px 0 0' }"
      ></ngx-skeleton-loader>
      <mat-card-content class="pt-3">
        <ngx-skeleton-loader
          count="1"
          animation="pulse"
          [theme]="{ height: '32px', 'margin-bottom': '12px', width: '80%' }"
        ></ngx-skeleton-loader>
        <ngx-skeleton-loader
          count="3"
          animation="pulse"
          [theme]="{ height: '16px', 'margin-bottom': '8px' }"
        ></ngx-skeleton-loader>
      </mat-card-content>
    </mat-card>
  } @else {
    @if (product(); as product) {
    <mat-card appearance="outlined" class="mx-3 my-2">
      <mat-card-header>
          <mat-card-title>
              <span class="mb-2">{{ product.title }}</span>
          </mat-card-title>
          <mat-card-subtitle>{{ product.category }} | Rating: {{ product.rating.rate }} ({{ product.rating.count }} reviews)</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]="product.image" alt="{{ product.title }}" class="py-2 border-top border-bottom product-image">
      <mat-card-content>
        <p class="pt-2">{{ product.description }}</p>
        <h3 class="pt-2">Price: {{ product.price | currency }}</h3>
      </mat-card-content>
      <mat-card-actions>
        <button mat-stroked-button color="primary" (click)="goBack()">Go back</button>
      </mat-card-actions>
    </mat-card>
    }
  }
</section>